<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Testing - Add LocalStorage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Testing - Add LocalStorage
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-label>{{recovertext}}</ion-label>
    <input type="text" [(ngModel)]="receivetext">
    <button (click)="print()">Send</button>
  </div>
</ion-content>
<ion-footer>
  <div class="footer">
    Paul Heredia - Curso 3E2 - Colegio Técnico Salesiano
  </div>
</ion-footer>